*{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    --food-list-button-color : green;
    --food-list-button-hover-color : red;
}


/* Helper classes */
.flex{
    display: flex;
}
.inline{
    display: inline;
}
.margin-2{
    margin: 2%;
}
.invert{
    filter: invert(100%);
}
.border-r{
    padding-right: 7px;
    border-right: 1px solid white;
}
.op-6{
    opacity: 0.6;
}
.op-9{
    opacity: 0.9;
}
.margin-tb-8{
    margin: 8px 0 8px 0;
}


/* Food description styles */

#food-description{
    justify-content:center ;
}

#overview{
    padding: 10px;
    margin: 10px;
    margin-right: 60px;
    border-right: 1px solid rgb(226, 222, 222);
}
#overview>p:first-child{
    color: red;
}
#overview>p{
    margin: 10px;
    text-align: end;
    font-size: 17px;
}
#overview>p:hover{
    color: red;
    cursor: pointer;
}
#food-list{
    width: 600px;
    height: 1000px;
    overflow-y: auto;
}
#food-list>h2{
    padding: 10px;
    font-size: 28px;
}
#food-list>p{
    padding-left: 10px;
    font-size: 13px;
}
.food-list-item{
    padding: 30px;
    padding-left: 10px;
    /* border-bottom: 1px solid rgb(218, 214, 214); */
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.food-list-item-button{
    width: 90px;
    height: 35px;
    color: var(--food-list-button-color);
    background-color: white;
    border: 1px solid rgb(179, 175, 175);
    font-size: 12px;
}
.food-list-item-button:hover{
    color: var(--food-list-button-hover-color);
    box-shadow: 0 0 5px grey;
    cursor: pointer;
}


#cart-empty{
    opacity: 0.5;
    width: 400px;
    margin-left: 30px;
}
#cart-empty>img{
    margin-top: 50px;
}

